<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="findId(element.id)" type="text" [(ngModel)]="element.username">
        <p *ngIf="!findId(element.id)"> {{element.username}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="movieName">
      <th mat-header-cell *matHeaderCellDef> Movie Name </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="findId(element.id)" type="text" [(ngModel)]="element.name">
        <p *ngIf="!findId(element.id)"> {{element.name}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="theatre">
      <th mat-header-cell *matHeaderCellDef> Theatre </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="findId(element.id)" type="text" [(ngModel)]="element.theatre">
        <p *ngIf="!findId(element.id)"> {{element.theatre}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="findId(element.id)" type="date" [(ngModel)]="element.date">
        <p *ngIf="!findId(element.id)"> {{element.date}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef> Show </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="findId(element.id)" type="text" [(ngModel)]="element.show">
        <p *ngIf="!findId(element.id)"> {{element.show}}</p>
      </td>
    </ng-container>

    <ng-container matColumnDef="noOfTickets">
      <th mat-header-cell *matHeaderCellDef> No. of Tickets </th>
      <td mat-cell *matCellDef="let element">
        <input *ngIf="findId(element.id)" type="number" [(ngModel)]="element.tickets">
        <p *ngIf="!findId(element.id)"> {{element.tickets}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="btns" *ngIf="findId(element.id)">
          <button class="btn" (click)="updateRow(element)">Save</button>
          <button class="btn" (click)="removeId(element.id)">Cancel</button>
        </div>
        <button class="btn" *ngIf="!findId(element.id)" (click)="addId(element.id)">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>