.main {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.left img {
  width: 20vw;
  border-radius: 10px;
}

.left {
  padding-top: 20px;
}

.right {
  padding-top: 20px;
}

.title {
  font-size: 4em;
  font-weight: 250;
  margin: 30px 0px;
}

.show {
  background-color: rgb(50, 50, 50, 0.5);
  width: 40vw;
  padding: 10px 20px;
  margin: 10px 0px;
  border-radius: 12px;
}

.show:hover {
  background-color: rgb(200, 40, 70, 0.25);
}

.show h2 {
  color: rgb(200, 40, 70);
}

.show button {
  background-color: rgb(200, 40, 70);
  color: whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  width: 50%;
}

.show button:hover {
  background-color: white;
  color: rgb(200, 40, 70);
  transition-duration: 0.5s;
}

.inp {
  background-color: transparent;
  outline: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 20px;
  color: whitesmoke;
  font-size: 1.05em;
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left img {
    width: 50vw;
  }
  .show {
    width: 90vw;
    padding: 10px;
  }
  .show button, .inp {
    width: 90%;
    margin: 10px auto;
  }
}